<div class="card text-bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">

        <div class="form-group">
            <label for="usuarios">Permite Crear, Visualizar, Editar, Desactivar o Reactivar Usuarios:</label>
            <br/>
            <button id="usuarios" name="usuarios"
            class="btn btn-primary my-2" routerLink="/usuarios">Administrar Usuarios >>></button>
            
        </div>

        <div class="form-group">
            <label for="csv">Permite la carga Masiva de Usuarios por medio de un archivo (CSV):</label>
            <br/>
            <button id="csv" name="csv"
            class="btn btn-success my-2" routerLink="/usuarios/csv">Carga Masiva >>></button>
            
        </div>
       
    </div>
</div>
