<div class="card text-bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">


        <div class="form-group">
            <label for="roles">> Permite Crear, Visualizar, Editar, Desactivar o Reactivar Roles:</label>
            <br/>
            <button id="roles" name="roles"
            class="btn btn-info my-2" routerLink="/roles">Administrar Roles ->></button>
            
        </div>

        <div class="form-group">
            <label for="opciones">> Permite Crear, Visualizar, Editar, Desactivar o Reactivar Opciones:</label>
            <br/>
            <button id="opciones" name="opciones"
            class="btn btn-dark my-2" routerLink="/rol-opciones">Administrar Opciones ->></button>
            
        </div>

        <div class="form-group">
            <label for="csv">>  Permite Crear, Visualizar, Editar, Desactivar o Reactivar Sesiones:</label>
            <br/>
            <button id="csv" name="csv"
            class="btn btn-secondary my-2" routerLink="/sessions">Administrar Sesiones ->></button>
            
        </div>


    </div>
</div>
