<div class="card text-bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn-secondary my-2" routerLink="/mantenimiento-usuarios">Volver</button>
        <button *ngIf="usuarios.length>0" class="btn btn-primary mx-3" (click)="loadCSVtoServer()"> Subir Usuarios al Servidor</button>
        <form>

            <!--File-->
            <div class="form-group">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01">CSV</label>
                    <input (change)='seleccionarArchivo($event)' type="file" class="form-control" id="inputGroupFile01">
                </div>
            </div>
        </form>

        <div class="alert alert-info" *ngIf="usuarios.length==0">
            Por favor cargue un archivo CSV para previsualizar.
        </div>
        <table class="table table-hover table-striped" *ngIf="usuarios.length>0">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Identificación</th>
                    <th>Fecha de Nacimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td>{{usuario.nombres }}</td>
                    <td>{{usuario.apellidos }}</td>
                    <td>{{usuario.identificacion }}</td>
                    <td>{{usuario.fechaNacimiento | date : 'yyyy/MM/dd' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
